---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Where did I come from? where did I go?"
	pubDate={new Date('August 08 2021')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
		It all started when I was hit was reality as a kid.  
		"Someone *made* mario?" 
	</p>

	<p>
		Hindsight did some heavy lifting. Looking back I started by writing scripts for the Draw application.
		"Ah, an equalateral triangle!"

		Eighth grade is awkward, but offered multiple opportunities.
		"I can edit hypertext markup language (HTML)" note: I'm shocked I wrote that correctly without looking it up.
		"I can write in-line styles. Can't remember if we did any CSS--so, probably not."
	</p>

	<p>
		Troubling lack of respect for authority boiled into being made an example.
		"I'm in physics, chemistry, band, and theater, but I'm a *might* hurt people because I'm not small and frail?"

		I went on to finish the homework that would be awarded 0 points for doing but I'd get in more trouble if I didn't do.
		"Preparing me for the real world huh?"

		I pulled out my graphing calculator and... the manual it came with. 
		"I'm not reading all this, but I have heard that some people somehow write entire games on one of these--drug dealer, mario clone, ball puzzle game"

		I read the few pages on output and GOTO and began writing.
		"Magic 8 ball (RNG). React (RNG, i/o, High Score). Die Roller (RNG + easter egg:loaded dice). Dating Sim (Text Based branching decision trees. G-rated)."
		"Not all fun and games, I wrote a practical application too. Forumla solvers (Menu, input, variables, calculations, output)
	</p>

	<p>
		College hit some crash bottoms and brick walls. Such is life.
		"I'm learning COBOL without a computer, VisualBasic without sleep, and my 13 year of my native language. At least I tested out of Math."
		"Why is my degree in business and I need to pass Marketing and Accounting? I don't care. As long as I get to code."
		"I know kung-fu--well, I know c# and Java and really the concept of programming from a more philosophical standpoint."
		"If 1/3 of the class is going to drop out, can I tutor the 1/3 that's going to fail?" 

		I was allowed to be a student tutor. I tutored multiple programming languages I either already passed classes for or 
		was getting an A in the class currently. I also tutored algebra since I tested out of it.

	<p>
		Back to college for an accelerated course in application design with focus on databases.
	</p>
</Layout>
