---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Handshake</h1>
			<p>
				Welcome to my simple and chill blog about software development.		
			</p>
			<p>Here are a few ideas on my mind:</p>
			<ul>
				<li> Start a project with SMART goals </li>
				<li> Grasp the very basics for this blog -- Astro <a href="https://docs.astro.build">guide</a></li>
				<li> Level up my skills for the project -- GoLang <a href="https://go.dev/doc/">docs</a></li>
				<li> Tip a toe in market reasearch -- Hugo <a href="https://github.com/gohugoio/hugo">github</a></li>
				<li> Tracking planned work -- Trello <a href="https://trello.com">no-link</a></li>
				<li> Share progress/updates -- this </li>
				<li> Retrospective -- the quadrant thing <a href="https://www.mural.co/templates/retrospective">link</a></li> 
				
			</ul>
			<p>
				Looking for more information? I linked some things above, you can click those to learn more.
			</p>
			<p>
				This project is to craft a static site generator in Golang.
				The lens through which I make decisions is for the "foot-in-the-door" goal
			</p>
		</main>
		<Footer />
	</body>
</html>
